@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .breadcrumb {
        @apply text-sky-400 bg-gray-200;
      }
    .disabled-icon {
      @apply text-gray-500;
    }
    .disabled-icon:hover {
      cursor: default;
    }
      
    .gsu-icon {
        @apply text-sky-400;
        display:inline;
      }
    }
    .clickable {
        @apply text-sky-400 hover:cursor-pointer;
      }
  
      .number-badge {
        position: relative;
        bottom: -10px;
        right: 5px;
        font-size: 10px;
    }
    .gsu-item-row {
      @apply border-solid border-t-2 border-x-2 border-gray-500 hover:bg-yellow-400 hover:cursor-pointer;
    }
    .gsu-row-info {
      color: var(--bs-body-color);
      padding-right: 10px;
    }
    .level-up-button {
      border: 1px solid var(--bs-border-color);
    }
    .data-list {
      max-height: 70vh;
      overflow-y: auto;
      overflow-x: hidden;
      @apply border-solid border-b-2 border-gray-500;
    }
    .folder-header {
      user-select: none;
      @apply border-solid border-t-2 border-x-2 border-gray-500;
    }
    .item-header {
      user-select: none;
      @apply border-solid border-t-2 border-x-2 border-gray-500;

    }
    .error-msg {
      font-weight: bold;
      color:red;
    }
    .gsu-selected-items {
      @apply bg-yellow-200;
    }
    .header{
      color: var(--bs-body-color);
    }
    .gsu-selection {
    }
    .text-left {
      text-align: left;
    }
    
    .number-input {
      border:1px solid gray;
    }

    .gsu-disabled-button {
      @apply bg-gray-300 cursor-not-allowed opacity-50
    }